<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="'title"
          name="campground[title]"
          value="<%=campground.title %>" required
        />
        <!-- using campground[data] allows us to group data together and easier to retrieve! -->
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="'location"
          name="campground[location]"
          value="<%=campground.location %>" required
        />
        <div class="valid-feedback">Looks good!</div>

      </div>

      <!-- <div class="mb-3">
        <label class="form-label" for="image">Add Images</label>
        <input type="file" name="image" id="image" multiple> 
        <div class="valid-feedback">Looks good!</div>

      </div> -->


      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input type="text" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" value="<%=campground.price %>" required>
        </div>
        <div class="valid-feedback">Looks good!</div>

      </div>
      

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="'description"
          name="campground[description]" required
        /><%= campground.description  %> </textarea>
        <div class="valid-feedback">Looks good!</div>

      </div>

       <!-- custom file(in first div class) AND custom-file-label(in label class) are required along along with bs-custom-file-input(script in boilerplate) to allow user to see files names being uploaded-->
       <div class="mb-3 custom-file">
        <label for="formFileMultiple" class="form-label custom-file-label">Add more image(s)</label>
        <input type="file" class="form-control" id="formFileMultiple" name="image" multiple>
        <!-- <div class="invalid-feedback">
            This campground would look much better with a picture.
        </div> -->
    </div>
    
    <div class="mb-3">
      <!-- looping through each image in the campground -->
      <% campground.images.forEach(function(img, i) { %>
        <img src="<%=img.url %>" class="img-thumbnail" alt="">
        <div class="form-check-inline">
          <!-- id is the i.d for each image in the camp. value=img.filename is grabbing the filename from the database because thats what we have it stored as -->
          <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename  %> ">
        </div>
        <!-- the for is associating the input and the label together -->
        <label for="image-<%= i %>">Delete?</label>
        <% }) %>  
    </div>

      <div class="mb-3">
        <button class="btn btn-info">Update Campground</button>
      </div>
    </form>
<a href="/campgrounds/<%= campground._id  %> ">Back to Campgrounds</a>
    
  </div>
</div>
